@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* || HEADER || */

header {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  color: white;
  font-size: 37px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.cq-container-comeco {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.cq-titulo-pagina {
  margin-top: 140px;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
}

.cq-container-central {
  width: 600px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.cq-container-pre-perguntas {
  width: 600px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  margin-top: 30px;
}

.cq-container-pre-niveis {
  width: 600px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  margin-top: 30px;
}

.cq-container-inputs {
  width: 90%;
  margin-top: 20px;
}

.cq-container-inputs input {
  width: 100%;
  height: 46px;
  border: 1px solid #d1d1d1;
  font-weight: 400;
  font-size: 19px;
  font-style: italic;
  border-radius: 5px;
}

.cq-container-inputs textarea {
  width: 100%;
  border: 1px solid #d1d1d1;
  font-weight: 400;
  font-size: 19px;
  font-style: italic;
  border-radius: 5px;
}

.cq-container-inputs input::placeholder {
  font-weight: 400;
  font-size: 19px;
  font-style: italic;
  line-height: 20px;
  padding-left: 20px;
}

.cq-container-inputs textarea::placeholder {
  font-weight: 400;
  font-size: 19px;
  font-style: italic;
  line-height: 20px;
  padding-left: 20px;
}

.cq-button {
  width: 350px;
  height: 54px;
  background-color: #ec362d;
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  color: #fff5f4;
  border: 0px;
  border-radius: 15px;
  margin-top: 85px;
  cursor: pointer;
  margin-bottom: 20px;
}

.cq-caixa-input-individual {
  margin-bottom: 5px;
}

.cq-validacao {
  font-weight: 400;
  font-size: 16px;
  color: #ec362d;
}

.cq-input-validate {
  background-color: #ffe9e9;
}

.cq-perguntas-quizz {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.cq-niveis-quizz {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.cq-sucesso-quizz {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.cq-titulo-p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
  width: 95%;
}

ion-icon {
  font-size: 20px;
}

.cq-container-image-success {
  margin-top: 40px;
  position: relative;
}

.cq-container-image-success p {
  width: 320px;
  height: 55px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  color: #ffffff;
  word-break: break-all;
}

.cq-image-success {
  width: 500px;
  height: 266px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.62%,
    rgba(0, 0, 0, 0.8) 100%
  );
  border-radius: 5px;
}

.cq-home {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #818181;
}

.cq-escondido {
  display: none;
}

@media (max-width: 1100px) {
  .cq-container-central {
    width: 100%;
  }
}
